@model ProjetoSistemaEscolarAPI.Models.Materias

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Materias</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeDaMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeDaMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfessorDaMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfessorDaMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtdTurmasMatriculadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtdTurmasMatriculadas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MateriaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
